<<<<<<< HEAD
@font-face {
    font-family: 'CardboardCat';
    src: url('font/CARDBOARDCAT-REGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    zoom: 85%;
}


body {
    background-color: #0e204f;
    font-family: 'CardboardCat', sans-serif;
    color: white;
    text-align: center;
}

#fotoPrincipal:hover{
    transform: scale(1.05);
}
#fotoPrincipal {
    width: 200px;
    height: auto;
    transition: transform 1s;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #76c7f5d1;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 40px;
    top: 0;
    position: fixed;
    transition: transform 0.3s ease;
    z-index: 10;
}
#logo1:hover{
    transform: scale(1.01);
}
#logo1 {
    width: 200px;
    height: auto;
    margin-left: -250px;
    margin-bottom: 20px;
    transition: transform 1.5s;
}
header h1 {
    margin-top: 65px;
}

#displays {
    background-color: rgba(180, 244, 255, 0.1);
    width: 200px;
    height: auto;
    padding: 50px;
    /* Fixando o display na tela */
    position: fixed;
    top: 200px;
    left: 20px;
    z-index: 10;
    /* Garante que o elemento fique acima de outros elementos */
}

#resumo {
    text-align: center;
    width: 550px;
    border-radius: 10px;
    padding: 100px;
    background-color:  rgba(180, 244, 255, 0.1);
    margin-left: 680px;
    margin-top: 200px;
}

.descricao {
    width: 250px;
    margin-left: -25px;
}

img {
    border-radius: 10px;
}

footer {
    color: aliceblue;
    width: 100%;
    background-color: rgba(3, 0, 50, 0.708);
    margin-top: 50px;
    bottom: 0;
    border-radius: 15px;
    padding: 4px;
    margin-bottom: -10px;
}

a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(38, 136, 255);
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s ease;
}

section {
    background-color: rgba(3, 0, 50, 0.708);
    width: 400px;
    height: 500px;
    position: fixed;
    right: 0;
    margin-left: 1100px;
    border-radius: 10px;
    border: 5px solid rgba(1, 1, 78, 0.708);
    top: 20px;
=======
@font-face {
    font-family: 'CardboardCat';
    src: url('font/CARDBOARDCAT-REGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    zoom: 85%;
}


body {
    background-color: #0e204f;
    font-family: 'CardboardCat', sans-serif;
    color: white;
    text-align: center;
}

#fotoPrincipal:hover{
    transform: scale(1.05);
}
#fotoPrincipal {
    width: 200px;
    height: auto;
    transition: transform 1s;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #76c7f5d1;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 40px;
    top: 0;
    position: fixed;
    transition: transform 0.3s ease;
    z-index: 10;
}
#logo1:hover{
    transform: scale(1.01);
}
#logo1 {
    width: 200px;
    height: auto;
    margin-left: -250px;
    margin-bottom: 20px;
    transition: transform 1.5s;
}
header h1 {
    margin-top: 65px;
}

#displays {
    background-color: rgba(180, 244, 255, 0.1);
    width: 200px;
    height: auto;
    padding: 50px;
    /* Fixando o display na tela */
    position: fixed;
    top: 200px;
    left: 20px;
    z-index: 10;
    /* Garante que o elemento fique acima de outros elementos */
}

#resumo {
    text-align: center;
    width: 550px;
    border-radius: 10px;
    padding: 100px;
    background-color:  rgba(180, 244, 255, 0.1);
    margin-left: 680px;
    margin-top: 200px;
}

.descricao {
    width: 250px;
    margin-left: -25px;
}

img {
    border-radius: 10px;
}

footer {
    color: aliceblue;
    width: 100%;
    background-color: rgba(3, 0, 50, 0.708);
    margin-top: 50px;
    bottom: 0;
    border-radius: 15px;
    padding: 4px;
    margin-bottom: -10px;
}

a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 50, 80);
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s ease;
}

section {
    background-color: rgba(3, 0, 50, 0.708);
    width: 400px;
    height: 500px;
    position: fixed;
    right: 0;
    margin-left: 1100px;
    border-radius: 10px;
    border: 5px solid rgba(1, 1, 78, 0.708);
    top: 20px;
>>>>>>> 14157684723b0b88b481e09588ee38248289b35e
}